.my-label{
    font-size :30px;
    
    }
    
    button{
        padding: 25px;
    font-size :30px;
    
    
    }
    .managercol{
    
        padding-left: 80px;
        
    }
    
    .manager{
        background-color: red;
    
    }
    
    .listq{
        padding-left: 10px;
        
    
    }
    .priceq{
        padding-left: 90px;
        color: green;
    }
    
    .buy{
    background-color: blue;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
    
    
    }
    
    .type{
    padding-top: 25px;
    
    padding-bottom: 50px;
    
    
    }
    
    .list-header{
        margin-left: 10px;
        color : blue;
    }
    .col-price{
        margin-left: 70px;
    }
    .Quantity{
        padding-top: 25px;
    
    
    }