.listq{
    padding-left: 150px;
};

.back-button {
    position: absolute;
    margin-top: -15px;
};

.list-header{
    margin-left: 10px;
    color : blue;
}

.col-quantity{
    margin-left: 90px;
}
