.butt{
padding-left: 60px

};


    .back-button {
        position: absolute;
        margin-top: -15px;
    };

.listq{
margin-left: 140px

};

.list-header{
    margin-left: 10px;
    color : blue;
};

.col-quantity{
    margin-left: 90px;
};